#main-input {
    display: grid;
    grid-template-columns: auto auto auto auto;
}
#secondary-input {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

#lower {
    display: grid;
    grid-template-columns: auto auto;

}
#history {
    background-color: aquamarine;
    float: left;
}

#app {
    display: grid;
    grid-template-columns: auto auto;
}

#button-zero {
    grid-column-start: 1;
    grid-column-end: 3;
}
#button-setting {
    grid-column-start: 1;
    grid-column-end: 3;
}
#button-degree {
    grid-column-start: 3;
    grid-column-end: 5;
}
#button-clear {
    grid-column-start: 1;
    grid-column-end: 3;
}
#button-backspace {
    grid-column-start: 3;
    grid-column-end: 5;
}